body{
    text-align: center;
    padding-top: 300px;
    font-size: 200px;
    color: blue;
    background-image: url(https://i.pinimg.com/originals/b0/14/97/b01497c6d71de2dc91627a84cb2a83e3.gif);
}